:root {
  --yun-sidebar-bg-img: url('http://150.158.151.86/images/settings/Yuumi_Icon.png');
  --yun-sidebar-bg-color: rgba(255, 255, 255, 0)
}

iframe.bilibili-video {
  width: 100%;
  max-width: 800px;
  aspect-ratio: 16/9;
}
